In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('OnlineRetail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1/12/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1/12/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1/12/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1/12/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1/12/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
df.shape

(541909, 8)

In [4]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
df.duplicated().sum()

np.int64(5268)

In [7]:
if df.duplicated().sum() > 0:
    df= df.drop_duplicates().reset_index(drop = True)

In [8]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [9]:
df['InvoiceDate'] = pd.to_datetime(
    df['InvoiceDate'],
    format='mixed',
    dayfirst=True
)

In [10]:
df['CustomerID'] = df['CustomerID'].astype('Int64')

In [11]:
df['InvoiceNo'] = df['InvoiceNo'].astype(str)

In [12]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135037
Country             0
dtype: int64

In [13]:
df = df[df['CustomerID'].notna()]

In [14]:
df['Description'] = df['Description'].fillna('Unknown')

In [15]:
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

In [16]:
df['TotalAmount'] = df['Quantity'] * df['UnitPrice']

In [17]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID,TotalAmount
count,392692.000000,392692,392692.000000,392692.0,392692.000000
mean,13.119702,2011-07-10 19:13:07.771892480,3.125914,15287.843865,22.631500
min,1.000000,2010-12-01 08:26:00,0.001000,12346.0,0.001000
25%,2.000000,2011-04-07 11:12:00,1.250000,13955.0,4.950000
50%,6.000000,2011-07-31 12:02:00,1.950000,15150.0,12.450000
75%,12.000000,2011-10-20 12:53:00,3.750000,16791.0,19.800000
max,80995.000000,2011-12-09 12:50:00,8142.750000,18287.0,168469.600000
std,180.492832,NaN,22.241836,1713.539549,311.099224

In [18]:
df['InvoiceDate'].min(), df['InvoiceDate'].max()

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-12-09 12:50:00'))

In [19]:
df = df.sort_values('InvoiceDate')

In [20]:
df.to_csv('cleaned_online_retail_transactions.csv', index=False)